<!DOCTYPE html>
<head>
	<title>gavinmhackeling.com</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/styles.css">
<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container" class="" style="text-align:center;">
		<div id="header" class="">

			{% block header %}{% end %}
		</div>

		<div id="content" class="">
			{% block content %}{% end %}
		</div>
		<div id="footer" class="">
			{% block footer %}{% end %}
		</div>
	</div>
</body>
</html>
