<!DOCTYPE html>
<head>
  <title>gavinmhackeling.com</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">  
</head>
<body>
<div class="container" style="text-align:center;">
<div id="header" class="row" style="margin-bottom:40px;">
  {% block header %}{% end %}
</div>

<div id="content" class="row">
  {% block content %}{% end %}
</div>
<div id="footer" class="row">
  {% block footer %}{% end %}
</div>
</div>
</body>
</html>
