{% extends "base.html" %}

{% block header %}
<h1>Named-Entity Extraction</h1>
{% end %}

{% block content %}
<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span6" style="text-align:left;">
				<h2>Named-Entities:</h2>
				<ul>
					{% for entity in entities %}
					<li>{{ entity }}</li>
					{% end %}
				</ul>
				<h2>Relations between entities</h2>
				<ul>
					{% for relation in relations %}
					<li>{{ relation }}</li>
					{% end %}
				</ul>
			</div>
			<div class="span6" style="text-align:left;">
				<h2>Your text:</h2>
				{{ text }}
			</div>
		</div>
	</div>
</div>
{% end %}

{% block footer %}

{% end %}
