{% extends "base.html" %}

{% block header %}
  <h1>Named-Entity Extraction</h1>
{% end %}

{% block content %}
	<form method="POST" action="/">
		<div class="row">
			<textarea class="span4 offset4" name="rawtext" placeholder="Enter some text (a news article, for instance) below to extract named-entites from" id="rawtext" cols="32" rows="12"></textarea>
		</div>
		<div class="row">
			<input class="span4 offset4" type="submit" value="Extract Named-Entities" />
		</div>
	</form>
	test
{% end %}

{% block footer %}

{% end %}
