{% extends "base.html" %}

{% block header %}
  <h1>Hello</h1>
  <h2>This is my development server for language processing projects. All this stuff is uberbeta.</h2>
{% end %}

{% block content %}
	<div class="span6 offset3">
		<h3><A href="/questionansweranalysis">Question Answer-Type Analysis</a><h3>
		<h3><A href="/questionansweranalysis">kNOwetry</a><h3>
		<h3><a href="/extractor">Named-Entity and Relation Extractor</a></h3>
		<h3><a href="/tweetanalysis">Twitter Sentiment Analyst</a></h3>
		<h3><a href="http://gavinmhackeling.com/">My Portfolio</a></h3>
		<h3><a href="http://gavinmhackeling.com/blog/">My blog</a></h3>
	</div>
{% end %}

{% block footer %}

{% end %}
