{% extends "base.html" %}

{% block header %}
<h1>kNOwetry</h1>
<small>It's a portmanteau of "know" and "poetry" with emphasis on "no," as in "No, this is not actually helpful or poetry."</small>
{% end %}

{% block content %}
<h3>Meet Poemmy, the Royalty-Free Clip Art Poem</h3>
<img src="/static/img/poemmy.jpg" alt="Poemmy" />
<h4>Whenever you submit a question to Poemmy, he leaps into action to try to create a poem that is equal parts information, creativity, and fun.</h4>
<br/>
<p><a href="#">kNOwetry featured by the "journalists" at TechCrunch!</a></p>
<br/>
{% end %}

{% block footer %}
<a href='/knowetry'>return to kNOwetry</a>
{% end %}
