{% extends "base.html" %}

{% block header %}
<h1 class="logo">k<span id="no" style="color:#08C;"><u>no</u></span>wetry!</h1>
<br/>
<small>It's a portmanteau of "know" and "poetry" with emphasis on "no," as in "No, this is not actually helpful or poetry."</small>
{% end %}

{% block content %}
<div class="">
	<div class="">
		<h2>Your question:</h2>
		{{ question }}
		<br />
		<br />
	</div>
	<div class="">
		<h2>Your kNOem:</h2>
		<h3><pre>{{ poem }}</pre></h3>
		<br />
	</div>
	<div class="">
		<h2>Answer-type:</h2>
		{{ answer_type_coarse + ', specifically: ' + answer_type_fine }}
		<br />
	</div>
</div>
{% end %}

{% block footer %}

{% end %}
