{% extends "base.html" %}

{% block header %}
<h1 class="logo">k<span id="no" style="color:#08C;"><u>no</u></span>wetry!</h1>
<br/>
<small>It's a portmanteau of "know" and "poetry" with emphasis on "no," as in "No, this is not actually helpful or poetry."</small>
{% end %}

{% block content %}
<h3>Enter a question, kNOwetry will respond with a poem.</h3>
<br/>
<form method="POST" action="/knowetry">
	<div>
		<input type="text" class="span4" name="pastequestion" placeholder="Enter a Question" id="pastequestion" ></input>
	</div>
	<div>
		<input type="submit" class="span4" value="Meticulously craft a kNOem" />
	</div>
</form>
{% end %}

{% block footer %}
<br/>
<a href='/howdoesitwork'>How does kNOwetry work?</a>
{% end %}
